<div class="container">
  <div class="text-center">
    <img src="/assets/bt-background.png" alt="Banca Tramsilvania" style="padding-top: 6rem; " >
  </div>
  <div class="row justify-content-center p-4">  
    <div class="col-md-6">
      <h1 style="padding-bottom: 6rem;padding-top: 2rem; text-align: center;">Redeem Password</h1>
      <h4>E-mail</h4>           
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter Your E-mail" #passwordResetEmail required style="background-color: #ffffffff; color: black; opacity: 0.8;">
      </div>
      <div class="formGroup" style="margin-top: 5%; text-align: center;">
        <input type="submit" class="btn btn-warning" value="Reset Password" (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
      </div>
      <div class="formGroup" class="forgotPassword" style="margin-top: 5%;text-align: center;">
        <a href="#" class="text-warning" routerLink="/sign-in" >Return to Sing In</a>
      </div>
    </div>
  </div>
</div>
