<div class="container">
  <div class="text-center">
    <img src="/assets/bt-background.png" alt="Banca Tramsilvania" style="padding-top: 6rem; " >
  </div>
  <div class="row justify-content-center p-4">
    <div class="col-md-6">
      <h1 style="padding-bottom: 6rem;padding-top: 2rem; text-align: center;">Register a new account</h1>
      <h4>E-mail</h4>
      <div class="formGroup">
        <input type="email" class="form-control" placeholder="Email Address" #email required style="background-color: #ffffffff; color: black; opacity: 0.8;">
      </div>
      <h4>Password</h4>  
      <div class="formGroup">
        <input type="password" class="form-control" placeholder="Confirm Password" #password required style="background-color: #ffffffff; color: black; opacity: 0.8;">
      </div>
      <h4>Confirm Password</h4>  
      <div class="formGroup">
        <input type="password" class="form-control" placeholder="Confirm Password" #confirmPassword required style="background-color: #ffffffff; color: black; opacity: 0.8;">
      </div>
      <div class="formGroup" style="margin-top: 5%; text-align: center;">
        <input type="button" class="btn btn-warning" value="Sign Up" (click)="ngAuthService.SignUp(email.value, password.value, confirmPassword.value)">
        <button type="button" class="btn btn-warning" (click)="ngAuthService.GoogleAuth()" style="margin-left: 5%;">Continue with Google</button>
      </div>
      <div class="redirectToLogin" style="margin-top: 5%; text-align: center;">
        <span class="text-warning">Already have an account? <a href="#" class="redirect" routerLink="/sign-in" class="text-warning">Sign In</a></span>
      </div>
    </div>
  </div>
</div>
